{% extends "./sub_base.html" %}
{% block title %}
Log in
{% endblock %}

{% block sub_content %}

<form class="account-form p-4 rounded" action="{% url 'account:login' %}" method="post">
    {% csrf_token %}
    <h3 class="mb-4">Sign In</h3>
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Username or Password not correct!
    </div>
    {% endif %}
    <label class="form-label">{{ form.username.label}}</label>
    {{ form.username}}
    <label class="form-label">{{ form.password.label}}</label>
    {{ form.password}}
    <div class="d-grid gap-2">
        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">
            Sign in
        </button>
    </div>
    <p class="text-center pb-3">
        <a href="#">Create an account</a>
    </p>
</form>
<p class="small text-center pt-4">
    {% comment %} <a href="#">Forgotten Password?</a> {% endcomment %}
</p>
<p class="small text-center">
    {% comment %} <a href="#">Help Center?</a> {% endcomment %}
</p>

{% endblock %}
