{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}DokushoVernissage{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}">
</head>

<body>
<header class="pb-3">
    <nav class="navbar navbar-expand-md border-bottom">
        <div class="container-fluid px-md-4">
            <div class="d-flex w-100 navbar-collapse">
                <a class="navbar-brand d-flex-inline" href="/">
                    <h4><a class="navbar-brand fw-bold" href="/">DokushoVernissage</a></h4>
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-none d-md-block fw500" href="#" id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            All
                            <i class="ps-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </i>
                        </a>
                        <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'catalogue:catalogue_home' %}">All</a></li>
                            {% for cat in categories %}
                            {% if category.slug == c.slug %}
                            <li class="selected">
                                <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name|title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <button id="btnSwitch" type="button" class="btn">
                    <div>
                        {% if request.session.theme == "dark" %}
                        <h4><i id="iconSwitch" class="bi bi-moon-stars"></i></h4>
                        {% else %}
                        <h4><i class="bi bi-brightness-high"></i></h4>
                        {% endif %}
                    </div>
                </button>
                <div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-reset" href="#" id="navbarDropdown"
                                   role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="small text-muted">
                                        {% if user.is_authenticated %}
                                        Hello, {{ request.user.name }}
                                        {% else %}
                                        Login
                                        {% endif %}
                                    </div>
                                    <span class="fs15 fw500">Account &amp; Lists</span>
                                </a>
                                <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                                    <div class="card border-0">
                                        <div class="card-body">
                                            <h6 class="card-title fw-bold">My Account</h6>
                                            <ul class="list-group list-group-flush dropdown-account-link">
                                                {% if user.is_authenticated %}
                                                <a href="{% url 'account:dashboard' %}" class="text-reset small
                                                list-group-item p-0 pb-1 border-0 dropdown-account-link">Your
                                                    Account</a>
                                                <a href="{% url 'account:user_orders' %}"
                                                   class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Orders</a>
                                                <a href="{% url 'account:logout' %}" class="text-reset small
                                                list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a>
                                                {% else %}
                                                <a href="{% url 'account:login' %}" class="text-reset small
                                                list-group-item p-0 pb-1 border-0 dropdown-account-link">Login</a>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a type="button" role="button" href="{% url 'basket:basket_summary' %}"
                   class="btn btn-outline-secondary border-0 basket-btn">
                    {% with total_qty=basket|length %}
                    <div id="basket-qty" class="basket-qty">
                        {% if total_qty > 0 %}
                        {{ total_qty }}
                        {% else %}
                        0
                        {% endif %}
                    </div>
                    {% endwith %}
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                             class="bi bi-cart3"
                             viewBox="0 0 16 16">
                            <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </div>
                    <span class="fs15 fw500">Basket</span>
                </a>
            </div>
            <div class="d-md-none d-lg-none d-xl-none">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li><a class="dropdown-item fw-bold" href="{% url 'catalogue:catalogue_home' %}">All</a></li>
                        {% for cat in categories %}
                        {% if category.slug == c.slug %}
                        <li class="selected">
                            <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name|title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <h6 class="card-title fw-bold">My Account</h6>
                    <ul class="list-group list-group-flush dropdown-account-link">
                        {% if user.is_authenticated %}
                        <a href="{% url 'account:dashboard' %}" class="dropdown-item">Your Account</a>
                        <a href="{% url 'account:user_orders' %}" class="dropdown-item">Orders</a>
                        <a href="{% url 'account:logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account:login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="d-flex w-100 d-md-none">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Shop - Categories
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'catalogue:catalogue_home' %}">All</a>
                                        </li>
                                        {% for cat in categories %}
                                        {% if category.slug == c.slug %}
                                        <li class="selected">
                                            <a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat.name|title }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Account
                                    </a>
                                    <ul class="dropdown-menu">
                                        <ul class="list-group list-group-flush dropdown-account-link">
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'account:dashboard' %}" class="text-reset small
                                                list-group-item p-0 pb-1 border-0 dropdown-account-link">Your
                                                Account</a>
                                            <a href="{% url 'account:user_orders' %}"
                                               class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Orders</a>
                                            <a href="{% url 'account:logout' %}" class="text-reset small
                                                list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a>
                                            {% else %}
                                            <a href="{% url 'account:login' %}" class="text-reset small
                                                list-group-item p-0 pb-1 border-0 dropdown-account-link">Login</a>
                                            {% endif %}
                                        </ul>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
</header>

<main class="pt-5">
    <div id="content">{% block content %} {% endblock %}</div>
</main>

<footer class="container py-5 footer">
    <hr>
    <div class="row pt-4">
        <div class="col-3 fs15">
            <h5 class="fw-bold">Dokusho</h5>
            <h5 class="fw-bold">Vernissage</h5>
            <small class="d-block mb-3 text-muted">&copy;
                <script>document.write(/\d{4}/.exec(Date())[0])</script>
            </small>
        </div>
        <div class="col-3 col-md fs15">
            <h5>Information</h5>
            <ul class="list-unstyled">
                <li><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-3 col-md fs15">
            <h5>About Us</h5>
            <ul class="list-unstyled">
                <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-3 col-md fs15">
            <h5>FAQ</h5>
            <ul class="list-unstyled">
                <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>

</html>

<script>
    document.getElementById('btnSwitch').addEventListener('click',()=>{
    if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light');
        setTheme('light');
    } else {
        document.documentElement.setAttribute('data-bs-theme', 'dark');
        setTheme('dark');
    }
});

function setTheme(currentTheme) {
    var post = 'post';
    $.ajax({
        url: '{% url "catalogue:set_theme" %}',
        type: 'POST',
        data: {
            theme: currentTheme,
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: post,
        },
        success: function(data) {
            console.log('Theme saved:', currentTheme);
        }
    });
}

$(document).ready(function() {
    var theme = '{{ request.session.theme }}';
    document.documentElement.setAttribute('data-bs-theme', theme);
});

$(document).ready(function() {
  // Get the current theme from session variable
  var currentTheme = "{{ request.session.theme }}";

  // Set the initial icon based on the current theme
  if (currentTheme == "dark") {
    $('#iconSwitch').removeClass('bi-brightness-high').addClass('bi-moon-stars');
  }

  // Add a click event listener to the button
  $('#btnSwitch').click(function() {
    // Toggle the theme in session variable
    if (currentTheme == "dark") {
      currentTheme = "light";
    } else {
      currentTheme = "dark";
    }

    // Update the icon immediately after the user clicks the button
    if (currentTheme == "dark") {
      $('#iconSwitch').removeClass('bi-brightness-high').addClass('bi-moon-stars');
    } else {
      $('#iconSwitch').removeClass('bi-moon-stars').addClass('bi-brightness-high');
    }

    // Send an AJAX request to update the theme in the server-side session variable
    $.ajax({
      url: '',
      data: {theme: currentTheme},
      success: function(response) {
        if (response.success) {
          // Theme updated successfully
        }
      }
    });
  });
});


</script>