{% extends "../sub_base.html" %}
{% block title %}
Reset Your Password
{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
        window.location.href = '{% url "account:dashboard" %}';

</script>
{% endif %}

<form class="account-form" method="post"
      action="{% url 'account:pwdreset' %}">
    <h3 class="mb-4 fw-bold">Forgotten your password?</h3>
    <p>Enter your e-mail address to get a new one.</p>
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small font-weight-bold">{{ form.email.label}}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
            value="Send e-mail">Send e-mail
    </button>
    <p class="text-center"><a href="{% url 'account:login' %}">Login</a></p>
</form>

{% endblock %}