{% extends "../sub_base.html" %}
{% block title %}
Success, password reset
{% endblock %}
{% block content %}

<div class="container">
    <div>
        {% if 'email' in request.get_full_path %}
        <h3 class="mb-4 fw-bold">Password Reset</h3>
        <p>You can now check your email for further instructions.</p>
        {% endif%}
        {% if 'complete' in request.get_full_path %}
        <h3 class="mb-4 fw-bold">Password Reset Successfully</h3>
        <a href="{% url 'account:login' %}">You can log in now.</a>
        {% endif%}
    </div>
</div>

{% endblock %}